h1,
p {
  font-family: Lato;
}
div {
  color: rgb(255, 115, 0);
  font-family: monospace;
}
.greeting {
  color: blue;
}
.avatar {
  height: 30px;
  width: 30px;
  background-color: blueviolet;
  border-radius: 50%;
  margin-left: 25%;
}
