h1,
p {
  font-family: Lato;
}
div {
  color: rgb(60, 255, 0);
  font-family: monospace;
}
.greeting {
  color: rgb(18, 18, 20);
}
.avatar {
  width: 80px;
  text-align: center;
  background-color: rgb(24, 23, 26);
  border-radius:10px;
  margin-left: 25%;
}
